<h1> New Trip Form Goes Here!</h1>

<%= form_with model: [@user, @trip] do |f|%>
    <%= f.label :name%>
    <%= f.text_field :name%>

    <br><br>
    <%= f.label :destination_id, "Destination"%>
    <%= f.collection_select :destination_id, Destination.all, :id, :name, prompt: true%>

    <br><br>

    <br><br>
    <%= f.submit %>
<% end %>
    
    <p> Can't find your destination?</p>
        <%= button_to "Create a New Destination", new_destination_path %>