<h1> New Trip Form Goes Here!</h1>

<%= form_with model: [@user, @trip] do |f|%>
    <%= f.label :name%>
    <%= f.text_field :name%>

    <br><br>
    <%= f.label :destination_id, "Destination"%>
    <%= f.collection_select :destination_id, Destination.all, :id, :name, prompt: true%>

    <br><br>

    <p> Or Create a New Destination:</p>
        <%= f.fields_for :destination, @trip.build_destination do |dest_fields|%>
            <%= dest_fields.label :name%>
            <%= dest_fields.text_field :name%>
        <% end %>
    <br><br>
    <%= f.submit %>
<% end %>