<h1> Welcome to Meal Consensus!</h1>

<% if logged_in? %>
    <h3>You are logged in, <%= current_user.username %></h3>
    <br>
    <% if !current_user.has_attribute?(:trips) %>
        <%= button_to "Let's make your first trip", user_path(:id) %>
        <br>
        <% else %>
        <%= button_to "Let's go see my trips", user_path(:id) %>
        <br>
    <%end%>
<%end%>

<%= link_to "Sign up", signup_path %>
OR
<%= link_to "Login", login_path %>

