

<h1> Hey, <%= @user.name %>! </h1>

       <h3>Your info: </h3>
       
        Name: <%= @user.name %>
        <br>
        Username: <%= @user.username %>
        <br>
        Email: <%= @user.email %>
        <br><!-- if -->
        Celiac? <%= @user.celiac%>
        <br>
        Adventurous? <%= @user.adventurous%>
        <br>
        

<br><br>

<h3> Your Trips Below </h3>
<ul> 
    <% @user.trips.each do |trip|    %>
        <li><%= link_to trip.name, user_trip_path(@user, trip) %></li>
        


    <% end %>


</ul>
<br><br><br>
<%= link_to 'Lets plan a trip!', new_user_trip_path(@user) %>