

<h1> Hey, <%= @user.name %>! </h1>

       <h3>Your info: </h3>
       
        Name: <%= @user.name %>
        <br>
        Username: <%= @user.username %>
        <br>
        Email: <%= @user.email %>
        <br><!-- if -->
        Celiac? <%= @user.celiac%>
        <br>
        Adventurous? <%= @user.adventurous%>
        <br>
        

<br><br>

<%= link_to 'Lets plan a trip!', new_user_trip_path(@user) %>