<h1> Welcome </h1>

<ul> 
    <%= @user.name %>
    <br>
    <%= @user.username %>
    <br>
    <%= @user.email %>
    <br>
    <%= @user.celiac %>
    <br>
    <%= @user.adventurous %>
    <br>


</ul>